.about-us__invite {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  width: 143px;
}

.about-us__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  width: 140px;
}

.about-us {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.about-us__wrapper {
  display: flex;
  padding: 30px 20px 26px 19px;
}

.about-us__wrapper p {
  margin: 0;
}

.about-us img {
  display: block;
  margin-top: -39px;
  height: auto;
}

.about-us__box--grey {
  background-color: #f2f2f2;
}

.about-us__map {
  overflow: hidden;
}

@media (min-width: 768px) {
  .about-us__wrapper {
    justify-content: space-between;
    padding: 65px 71px 58px 71px;

    width: 768px;
    margin: 0 auto;
  }

  .about-us__span {
    margin-top: 18px;
    display: block;
  }

  .about-us__box {
    background-color: #ffffff;
  }

  .about-us__box--grey {
    background-color: #f2f2f2;
  }

  .about-us__invite {
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  .about-us__address {
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .about-us img {
    width: 100%;
    height: auto;
    margin-top: -4px;
  }
}


@media (min-width: 1300px) {
  .about-us__wrapper {
    position: absolute;
    background-color: #ffffff;
    width: 570px;
    top: 68px;
    left: 99px;
  }

  .about-us {
    position: relative;
  }
}
