.addition table {
  margin-bottom: 17px;
  border-collapse: collapse;
}

.addition li {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 16px;
}

.addition ul {
  margin-bottom: 39px;
}

.addition li:first-child {
  border-top: 1px solid #cdcdcd;
}

.addition__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
  margin: 14px 0 9px 0;
}

.addition__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}

.addition__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: right;
}

.addition {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.addition__btn {
  margin-top: 0;
}

@media (min-width: 768px) {
  .addition__btn {
    width: 633px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .addition__value {
    font-size: 16px;
    line-height: 16px;
    padding-right: 34px;
    display: block;
  }

  .addition__price {
    font-size: 16px;
    line-height: 16px;
    width: 60px;
    padding: 0;
  }

  .addition {
    width: 708px;
    margin: 0 auto;
  }

  .addition__name {
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 26px;
  }

  .addition ul {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .addition li {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 26px 37px 26px 37px;
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
  }

  .addition li:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 1300px) {
  .addition {
    width: 895px;
    margin: 0;
    margin-right: 80px;
  }

  .addition__btn {
    width: 245px;
    margin-left: 33px;
  }

  .addition li {
    padding: 16px 0 7px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }

  .addition ul {
    width: 895px;
    margin-bottom: 89px;
  }

  .addition__value {
    width: 170px;
  }

  .addition__name {
    width: 200px;
    margin-right: 124px;
    margin-bottom: 0;
  }

  .addition table {
    width: 293px;
  }

  .addition__price {
    width: 47px;
    text-align: left;
  }
}
