.addition__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  position: relative;
}

.addition__title::after {
  content: "";
  width: 53px;
  height: 3px;
  background-color: #68b738;
  position: absolute;
  top: 50%;
  left: 247px;
}

.addition table {
  margin-bottom: 14px;
}

.addition li {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ededed;
  padding-bottom: 17px;
}

.addition ul {
  margin-bottom: 39px;
}

.addition li:first-child {
  border-top: 1px solid #ededed;
}

.addition__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
}

.addition__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}

.addition__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: right;
}

.addition {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .addition__btn {
    width: 633px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .addition {
    width: 768px;
    margin: 0 auto;
  }

  .addition__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
    padding-left: 30px;
  }

  .addition ul {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .addition li {
    border: 1px solid #ededed;
    border-bottom: 1px;
    padding: 28px 37px 27px 37px;
  }

  .addition li:last-child {
    border-bottom: 1px solid #ededed;
  }
}
