.addition__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}

.addition table{
  margin-bottom: 14px;
}

.addition li {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ededed;
  padding-bottom: 17px;
}

.addition ul {
  margin-bottom: 39px;
}

.addition li:first-child {
  border-top: 1px solid #ededed;
}

.addition__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
}

.addition__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}

.addition__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: right;
}

.addition {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
