.advantages {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 41px;
}

.advantages__list {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  padding-left: 40px;
}

.advantages__item {
  margin-top: 32px;
  list-style: none;
  margin-left: 40px;
  position: relative;
}

.advantages__item::before {
  content: "";
  background-color: #68b738;
  position: absolute;
  width: 60px;
  height: 60px;
  background-position: 50%;
  right: 220px;
  top: -3px;
}

.advantages__item--1::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
}

.advantages__item--2::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
}

.advantages__item--3::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
}

.advantages__item--4::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .advantages {
    width: 708px;
    margin: 0 auto;
  }

  .advantages__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 0;
  }

  .advantages__list {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    list-style: none;
    margin-left: 0;
    position: relative;
    width: 245px;
    height: 230px;
    padding-right: 109px;
    margin-top: 63px;
  }

  .advantages__item::before {
    content: "";
    width: 80px;
    height: 80px;
    background-position: 50%;
    left: 0;
    top: 0;
  }

  .advantages__item::after {
    content: "";
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    position: absolute;
    font-size: 300px;
    top: 98px;
    left: 114px;
    color: #f2f2f2;
    z-index: -666;
  }

  .advantages__item p {
    padding-top: 117px;
  }

  .advantages__item--1::after {
    content: "1";
  }

  .advantages__item--2::after {
    content: "2";
  }

  .advantages__item--3::after {
    content: "3";
  }

  .advantages__item--4::after {
    content: "4";
  }
}
