.advantages {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 30px;
  margin-top: 15px;
}

.advantages__list {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  padding-left: 40px;
}

.advantages__item {
  margin-top: 26px;
  list-style: none;
  margin-left: 40px;
  position: relative;
}

.advantages__item::before {
  content: "";
  background-color: #68b738;
  position: absolute;
  width: 60px;
  height: 60px;
  background-position: 50%;
  right: 220px;
  top: -3px;
  background-repeat: no-repeat;
}

.advantages__item--1::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--2::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--3::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--4::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: 768px) {
  .advantages {
    width: 708px;
  }

  .advantages__wrapper {
    box-sizing: content-box;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 45px;
  }

  .advantages__list {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    margin-left: 0;
    width: 245px;
    height: 230px;
    padding-right: 138px;
    margin-top: 73px;
  }

  .advantages__item:nth-child(2n) {
    padding-right: 0;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    margin-top: 86px;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
    right: auto;
    top: 0;
  }

  .advantages__item::after {
    content: "";
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    position: absolute;
    font-size: 286px;
    top: 88px;
    left: 113px;
    color: #f2f2f2;
    z-index: -666;
  }

  .advantages__item p {
    padding-top: 96px;
  }

  .advantages__item--1::after {
    content: "1";
  }

  .advantages__item--2::after {
    content: "2";
  }

  .advantages__item--3::after {
    content: "3";
  }

  .advantages__item--4::after {
    content: "4";
  }
}

@media (min-width: 1300px) {
  .advantages {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .advantages__list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 73px;
  }

  .advantages__item {
    padding-right: 0;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    margin-top: 72px;
  }
}
