.bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 289px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.bonus__text {
  text-align: center;
  width: 160px;
  padding-top: 190px;
  color: #ffffff;
}

.bonus__img {
  background-image: url("../img/icon-gift.svg");
  position: absolute;
  width: 55px;
  height: 60px;
  top: 20%;
}
