.bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 289px;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.bonus__text {
  font-family: "Arial", sans-serif;
  text-align: center;
  width: 165px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 171px;
  color: #ffffff;
}

.bonus__img {
  background-image: url("../img/icon-gift.svg");
  position: absolute;
  width: 55px;
  height: 60px;
  top: 23%;
}

@media (min-width: 768px) {
  .bonus {
    width: 708px;
    margin: 0 auto;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-bottom: -14px;
  }

  .bonus__img {
    left: 91px;
  }

  .bonus__text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 166px;
    padding: 72px 120px 70px 423px;
    margin: 0;
  }
}

@media (min-width: 1300px) {
  .bonus {
    width: 245px;
    margin: 0 auto;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .bonus__img {
    left: 96px;
    top: 18%;
  }

  .bonus__text {
    padding: 0;
    padding-top: 185px;
    text-align: center;
  }
}
