.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 27px;
  margin: 0;
  margin-top: 3px;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  border: 1px solid #ededed;
}

.catalog__item:not(:first-child) {
  border-top: none;
}

.catalog__show {
  display: flex;
  flex-direction: column;
  padding: 28px 20px 22px 20px;
  border: 1px solid #ededed;
  border-top: none;
}

@media (min-width: 768px) {
  .catalog {
    width: 708px;
  }

  .catalog__title {
    font-size: 60px;
    border: none;
    margin-bottom: 56px;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__assortment {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-right: 60px;
    margin-bottom: 58px;
  }

  .catalog__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .catalog__show {
    height: 380px;
    width: 282px;
    align-items: center;
    border: 1px solid #ededed;
    box-sizing: content-box;
    margin-top: 82px;
  }
}

@media (min-width: 1300px) {
  .catalog {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .catalog__show {
    width: 203px;
  }

  .catalog__item:nth-of-type(2n) {
    margin-right: 80px;
  }

  .catalog__item:nth-of-type(4n) {
    margin-right: 0;
  }

  .catalog__item {
    margin-right: 80px;
    margin-bottom: 61px;
  }

  .catalog__title {
    margin-top: 21px;
  }
}
