.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  padding-left: 20px;
  padding-top: 31px;
  padding-bottom: 36px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin: 0;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 25px 20px;
  border-bottom: 1px solid #ededed;
}

.catalog__show {
  display: flex;
  flex-direction: column;
  padding: 27px 20px 25px 20px;
  border-bottom: 1px solid #ededed;
}

@media (min-width: 768px) {
  .catalog {
    width: 768px;
  }

  .catalog__title {
    font-size: 60px;
    border: none;
    margin-bottom: 156px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__assortment {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__item {
    margin-right: 60px;
    margin-bottom: 140px;
  }

  .catalog__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .catalog__show {
    height: 386px;
    width: 277px;
    align-items: center;
    border: 1px solid #ededed;
  }
}
