.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  text-align: left;
  padding-top: 17px;
  margin-bottom: 23px;
}

.example__wrapper {
  margin: 0 20px;
}

.example {
  width: 320px;
  margin: 0 auto;
  margin-top: 46px;
  background-color: #f2f2f2;
}

.example__story {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 266px;
  margin-bottom: 25px;
}

.example__effect {
  border: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;
  position: relative;
  border-radius: 3px;
}

.example__stats {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  margin: 0;
}

.example__val {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  width: 74px;
  position: absolute;
  top: 35px;
  left: 25px;
  background-color: #f2f2f2;
  padding: 0 10px;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.example__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  border: none;
  background-color: transparent;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.example__wrapp {
  display: flex;
  justify-content: space-between;
}

.example__slider {
  width: 84px;
  height: 14px;
  border: 1px solid  #cdcdcd;
  border-radius: 6px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 3px 12px;
  padding-left: 5px;
}

.example__contrl--before {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}

.example__toggle {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

@media (min-width: 768px) {
  .example {
    margin-top: 56px;
    border-top: 1px solid #f2f2f2;
    width: inherit;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 57%, #f2f2f2 57%, #f2f2f2);
  }

  .example__box-2 {
    width: 708px;
    margin: 0 auto;
  }

  .example__val {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }

  .example__title {
    font-size: 60px;
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 65px;
  }

  .example__stats {
    font-size: 30px;
    line-height: 37px;
    padding-top: 14px;
  }

  .example__story {
    font-size: 16px;
    line-height: 24px;
    width: 676px;
    margin-bottom: 52px;
  }

  .example__effect {
    width: 162px;
    margin-right: 42px;
    min-height: 72px;
  }

  .example__val--1 {
    width: auto;
    top: 48px;
    left: 21px;
  }

  .example__val--2 {
    width: 150px;
    top: 48px;
    left: 5px;
  }

  .example__wrapper {
    margin: 0;
  }

  .example__wrapp {
    justify-content: flex-start;
  }

  .example__cost {
    position: absolute;
    top: -30px;
    right: 0;
    width: 174px;
    text-align: right;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }

  .example__slider {
    position: relative;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .example__contrl--toggle {
    position: absolute;
    left: 198px;
    top: -14px;
    width: 33px;
    height: 33px;
    background-color: #68b738;
    border: 12px solid #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }

  .example__toggle {
    margin-top: 19px;
  }

  .example__contrl--toggle:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .example__contrl--toggle:active,
  .example__contrl--toggle:focus {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .example__contrl--before {
    display: none;
  }

  .example__container {
    position: relative;
  }

  .example__box img {
    width: 690px;
    height: 517px;
    margin-top: 87px;
    margin-left: 16px;
  }

  .example__value {
    border-bottom: 1px dashed rgba(17, 17, 17, 0.2);
    font-size: 20px;
    margin-bottom: 66px;
  }

  .example__value:hover {
    border-bottom: 1px solid #111111;
  }

  .example__value:active,
  .example__value:focus {
    border: none;
    outline: none;
  }
}

@media (min-width: 1300px) {
  .example {
    width: inherit;
    background-image: linear-gradient(#ffffff 38%, #f2f2f2 38%, #f2f2f2);
  }

  .example__title {
    margin-top: 90px;
    margin-bottom: 142px;
  }

  .example__wrapper {
    margin-right: 200px;
  }

  .example__cost {
    position: initial;
    width: 294px;
    margin-top: 78px;
  }

  .example__story {
    width: 438px;
    margin-bottom: 72px;
  }

  .example__box-2 {
    display: flex;
    width: 1300px;
    margin: 0 auto;
  }

  .example__box {
    overflow: hidden;
  }

  .example__val {
    background-color: #f2f2f2;
  }
}
