.function__tittle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  padding-top: 30px;
  text-transform: uppercase;
  position: relative;
  padding-left: 70px;
  margin-bottom: 25px;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #68b738;
    left: 0;
    top: 25px;
    border-radius: 50%;
  }

  &--1::after {
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    position: absolute;
    background-repeat: no-repeat;
    left: 8px;
    top: 22px;
  }

  &--2::after {
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    position: absolute;
    background-repeat: no-repeat;
    left: -8px;
    top: 34px;
  }
}

.function__p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 22px;
  margin-bottom: 17px;
  margin-top: 27px;
  width: 240px;
}

.function__wrapper {
  background: #f2f2f2;
  padding-bottom: 22px;
  padding-left: 21px;
}

.function__catalog {
  color: #111111;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  &::after {
    content: "";
    background: url("../img/icon-right-arrow-long.svg");
    position: absolute;
    width: 24px;
    height: 11px;
    top: 7px;
    left: 96px;
  }

  &:hover::after {
    content: "";
    background: url("../img/icon-right-arrow-verylong.svg");
    position: absolute;
    width: 33px;
    height: 12px;
    top: 7px;
    left: 96px;
    background-repeat: no-repeat;
  }
}

.function {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: 768px) {
  .function {
    margin: 0 auto;
    width: 708px;
  }

  .function h2 {
    font-size: 36px;
    padding-top: 76px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .function__tittle {
    &::before {
      width: 200px;
      height: 200px;
      left: 394px;
      top: 92px;
    }

    &--1::after {
      width: 140px;
      height: 194px;
      left: 424px;
      top: 80px;
    }

    &--2::after {
      width: 268px;
      height: 112px;
      left: 361px;
      top: 135px;
    }
  }

  .function__wrapper {
    margin-bottom: 30px;
    padding-left: 52px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    min-height: 372px;
  }

  .function__p {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    border: none;
    width: 372px;
    margin-bottom: 0;
    padding-bottom: 56px;
    margin-top: 25px;

    &--2 {
      width: 340px;
    }
  }

  .function__catalog {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 55px;

    &::after {
    content: "";
    background: url("../img/icon-right-arrow-long.svg");
    position: absolute;
    width: 24px;
    height: 11px;
    top: 6px;
    left: 132px;
    }

    &--2::after {
      left: 126px;
    }

    &:hover::after {
      top: 6px;
      left: 132px;
    }
  }
}

@media (min-width: 1300px) {
  .function {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }

  .function__wrapper {
    width: 570px;
    padding-left: 52px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .function h2 {
    padding-left: 162px;
  }

  .function p {
    margin-top: 75px;
    padding-bottom: 28px;
  }

  .function__wrapper--1 {
    margin-right: 80px;
  }

  .function__tittle {
    &::before {
      width: 100px;
      height: 100px;
      left: 0;
      top: 47px;
    }

    &--1::after {
      width: 70px;
      height: 97px;
      left: 14px;
      top: 41px;
    }

    &--2::after {
      width: 134px;
      height: 56px;
      left: -18px;
      top: 69px;
    }
  }

  .function__p {

    &--1 {
      width: 470px;
    }

    &--2 {
      width: 470px;
    }
  }
}
