.item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  margin-top: 20px;
  width: 75px;
  text-transform: uppercase;
}

.item__name {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-align: left;
  padding: 0;
}

.item__tab {
  width: 142px;
  border-collapse: collapse;
}

.item__btn {
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}

.item__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-align: right;
  padding: 0;
}

.item__box {
  display: flex;
}

.item__feature {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .item__btn {
    width: 249px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }

  .item__name {
    padding: 7px 0;
    font-size: 16px;
  }

  .item__value {
    font-size: 16px;
  }

  .item__box {
    flex-direction: column;
    align-items: center;
  }

  .item__img {
    &--big {
      margin-bottom: 33px;
    }

    &--small {
      margin-top: 36px;
      margin-bottom: 33px;
    }

    &--small img {
      width: 324px;
      height: 172px;
    }

    &--big img {
      width: 324px;
      height: 208px;
    }
  }

  .item__tab {
    width: 249px;
    border-collapse: collapse;
  }

  .item__feature {
    margin-bottom: 34px;
  }

  .item {
    background-color: #f2f2f2;
    background-image: linear-gradient(#ffffff 16%, #f2f2f2 16%, #f2f2f2);
    padding: 0 0 0;
    position: relative;
    border: none;
    align-items: center;
    height: 513px;
  }

  .item__title {
    width: 135px;
    margin: 0 auto 21px;
    text-align: center;
    font-size: 20px;
  }

  .item__tab tr {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 1300px) {
  .item {
    width: 245px;
    align-items: center;
  }

  .item__feature {
    width: 178px;
  }

  .item__tab {
    width: 178px;
  }

  .item__btn {
    width: 169px;
    height: 40px;
  }

  .item__img {
    &--small img {
      width: 245px;
      height: 172px;
    }

    &--big img {
      width: 245px;
      height: 208px;
    }
  }
}
