.line {
  border: none;
  padding: 0;
}

.line ul {
  padding: 0;
}

.line__li {
  text-transform: uppercase;
}

.line__input {
  margin-bottom: 14px;
}


.line__check-radio {
  margin-bottom: 25px;
}

.line__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  position: relative;
  padding-right: 15px;
}

.line__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  position: relative;
  margin-bottom: 30px;
}

.line__legend--contact::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -20px;
  background-color: #68b738;
  height: 3px;
  width: 99px;
}

.line__legend--comment::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -180px;
  width: 158px;
  height: 3px;
  background-color: #68b738;
}

.line__legend--extra::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -160px;
  width: 136px;
  height: 3px;
  background-color: #68b738;
}

.line__decorate {
  padding: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  flex-grow: 1;
}

.line__icon--mail {
  position: absolute;
  top: 20px;
  right: 20px;
}

.line__icon--phone {
  position: absolute;
  top: 15px;
  right: 17px;
}

@media (min-width: 768px) {
  .line__li {
    padding-right: 78px;
  }

  .line__icon--mail {
    position: absolute;
    top: 20px;
    right: 95px;
  }

  .line__icon--phone {
    position: absolute;
    top: 15px;
    right: 91px;
  }
}
