@media (min-width: 1300px) {
  .page-main__glob::before {
    content: "";
    position: absolute;
    right: 0;
    top: -35px;
    z-index: -2;
    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #65a93c;
  }
}
