.program {
  border-top: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
}

.program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  width: 280px;
  margin: 32px auto;
}

.program__first {
  width: 280px;
  margin: 0 auto;
}

.program__second {
  width: 320px;
  margin: 0 auto;
}

.program__contact {
  width: 280px;
  margin: 0 auto;
}

.program__comment {
  width: 280px;
  margin: 0 auto;
}

.program__extra {
  width: 280px;
  margin: 0 auto;
}

.program__title-recomend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.program__questionnaire li {
  list-style: none;
  width: 280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: baseline;
}

.field-req {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: #444444;
  justify-content: center;
  display: flex;
  margin-top: 24px;
  margin-bottom: 34px;
}

.program__comment-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  box-sizing: border-box;
  padding: 13px 13px 0 13px;
  height: 150px;
  width: 281px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &:focus,
  &:active {
    border: 2px solid #444444;
    opacity: 1;
  }
}

.program__second-wrapper {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  margin-bottom: 31px;
}

.program__req {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .program__title {
    width: 708px;
  }

  .program__title-recomend {
    width: 708px;
  }

  .program__first {
    width: 708px;
  }

  .program__questionnaire li {
    width: 708px;
  }

  .program__second-wrapper {
    border: 1px solid #ededed;
  }

  .program__comment {
    width: 708px;
  }

  .program__comment-text {
    width: 631px;
    height: 174px;
  }
}
