.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 482px;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  margin-top: 12px;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 26px;
  margin: 0;
}

.promo__intro {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 29px;
  margin: 0;
  text-transform: uppercase;
}

.promo__container {
  background: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 305px;
  text-align: center;
  max-width: 100%;
}

.promo img {
  position: absolute;
  top: 167px;
  left: 20px;
}

@media (min-width: 768px) {
  .promo {
    width: 708px;
    margin-top: -9px;
    min-height: 810px;
  }

  .promo__container {
    background: none;
    text-align: left;
    margin-left: 88px;
    margin-right: 90px;
    min-height: 0;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    text-align: left;
    padding: 0;
    margin-bottom: 41px;
    padding-right: 50px;
  }

  .promo__intro {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    padding-bottom: 20px;
    margin: 0;
    text-transform: uppercase;
  }

  .promo img {
    width: 709px;
    height: 609px;
    top: 201px;
    left: 0;
  }

  .promo__btn {
    position: absolute;
    top: 229px;
    left: 88px;
  }
}

@media (min-width: 1300px) {
  .promo {
    width: 1300px;
    margin-bottom: 80px;
  }

  .promo__container {
    margin-right: auto;
  }

  .promo img {
    position: absolute;
    width: 552px;
    height: 499px;
    left: 490px;
    top: -33px;
  }

  .promo__title {
    width: 500px;
  }
}
