.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 482px;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 19px;
  margin: 0;
}

.promo__intro {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 29px;
  margin: 0;
  text-transform: uppercase;
}

.promo__container {
  background: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 305px;
  text-align: center;
}

.promo img {
  position: absolute;
  top: 167px;
  left: 20px;
}

@media (min-width: 768px) {
  .promo {
    width: 768px;
  }

  .promo__container {
    background: none;
    text-align: left;
    margin-left: 90px;
    margin-right: 90px;
    min-height: 0;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    text-align: left;
    padding: 0;
    margin-bottom: 33px;
  }

  .promo__intro {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    padding-bottom: 20px;
    margin: 0;
    text-transform: uppercase;
  }

  .promo img {
    position: static;
    width: 709px;
    height: 609px;
  }

  .promo__btn {
    position: absolute;
    top: 210px;
    left: 90px;
  }
}

@media (min-width: 1300px) {
  .promo {
    width: 1300px;
  }

  .promo img {
    width: 552px;
    height: 499px;
  }

  .promo::before {
    content: "";
    position: absolute;
    right: 0;
    top: -223px;
    z-index: -2;
    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #65a93c;
  }
}
