.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 22px;
  margin-top: 11px;
  text-align: center;
}

.show-more__plus {
  background-image: url("../img/icon-plus.svg");
  width: 30px;
  height: 30px;
  margin: auto;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .show-more__btn {
    margin-bottom: 10px;
  }

  .show-more__plus {
    background-image: url("../img/icon-plus.svg");
    width: 60px;
    height: 60px;
    opacity: 0.2;
  }

  .show-more__title {
    font-size: 20px;
    width: 145px;
  }

  .show-more__text {
    font-size: 16px;
    margin-bottom: 85px;
    width: 175px;
    margin-top: 28px;
  }
}
