.social li {
  padding-right: 18px;
  padding-left: 18px;
  list-style: none;
}

.social ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  margin: 0 20px;
}

@media (min-width: 768px) {
  .social {
    border: none;
    margin-left: 145px;
    margin-right: 82px;
  }

  .social__link--vkontakte img {
    width: 22px;
    height: 12px;
  }

  .social__link--instagram img {
    width: 16px;
    height: 16px;
  }

  .social__link--facebook img {
    width: 10px;
    height: 19px;
  }
}
