.button {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: #68b738;
  text-align: center;
  width: 280px;
  height: 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 10px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active,
  &:focus {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button__grey {
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #444444;
  width: 280px;
  height: 40px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #ebebeb;
  }

  &:active,
  &:focus {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}
