.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.copyright__academy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}
