.example__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: left;
  margin-left: 20px;
  padding-top: 33px;
}

.example__wrapper {
  margin:0 20px;
}

.example {
  margin-top: 42px;
  background-color: #f2f2f2;
}

.example__story {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
}

.example__effect {
  border: 1px solid #cdcdcd;
}

.example__stats {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-align: center;
}

.example__val {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.example__cost {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: center;
}

.example__value {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 34px;
}
