.item__title {
font-family: "Oswald", Arial, sans-serif;
font-size: 16px;
line-height: 20px;
font-weight: 400;
color: #111111;
}

.item__name {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.item__value {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}
