.line {
  border: none;
  padding: 0;
  margin: 0;
}

.line ul {
  padding: 0;
}

.line__input {
    margin-bottom: 14px;
}

.line__check-radio {
  margin-bottom: 25px;
}

.line__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
}

.line__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}

.line__decorate {
  padding: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.program__comment-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  box-sizing: border-box;
  padding: 13px 13px 0 13px;
  height: 150px;
  width: 280px;
}
